@use '../../partials/resets' as *;
@use '../../partials/variables' as *;
@use '../../partials/mixins' as *;

.header-2 {
    height: 5rem;
    background-color: #393F49;
    display: flex;
    justify-content: space-between;
    padding-right: 6.25rem;
    align-items: center;

    &__left {
        display: flex;
        align-items: center;
    }

    &__logo {
        height: 4rem;
    }

    &__text-1 {
        color: #9E9E9E;
        @include p3;
        padding-right: 1rem;
        border-right: 2px solid #ffffff;
    }

    &__text-2 {
        color: #ffffff;
        @include p3;
        margin-left: 1rem;
    }

    &__search {
        margin-left: 2rem;
        border-radius: 0.5rem;
        padding: 0.5rem 1rem;
        border: 0;
        width: 30rem;
        @include p3;
        background-image: url('../../assets/icons/search.svg');
        background-repeat: no-repeat;
        background-position: center right 1rem;
    }

    &__icon {
        width: 1.5rem;
        height: 1.5rem;
        margin-left: 1.5rem;
    }
}

.page {
    display: flex;
    justify-content: flex-start;
}

.sidebar {
    width: 13.875rem;
    height: 120vh;
    background-color:  #393F49;
    color: #D2D2D2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem 0;

    &__nav {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 1rem 2rem;
        margin-bottom: 0.5rem;

        &--active {
            background-color: #D1375C;
        }
    }

    &__link {
        @include h4;
        margin-left: 1.5rem;
    }

    &__icon {
        color: #D2D2D2;
        width: 1.125rem;
        height: 1.125rem;
    }

    &__image {
        width: 10.625rem;
        margin-left: 1.2rem;
        margin-bottom: 2rem;
    }
}

.main {
    padding: 2rem 6.25rem;
    width: calc(100vw - 13.875rem);
}

.hero {
    display: flex;
    flex-direction: column;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    &__card {
        height: 15.875rem;
        border: 2px solid $color-6;
        border-radius: 1rem;
    }

    &__image {
        width: 100%;
    }

    &__top {
        padding: 2rem;
        align-items: center;
    }

    &__icon {
        width: 3rem;
    }

    &__title {
        color: #D1375C;
        font-size: 2rem;
        font-weight: 800;
    }

    &__wrapper {
        width: 100%;
        padding: 0 6rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    &__bar-1 {
        width: 100%;
        background-color: #ffffff;
        border: 1px solid #595959;
        height: 2.5rem;
        border-radius: 1.25rem;
        padding-top: 0.25rem;
        position: relative;
    }

    &__bar-2 {
        width: 36rem;
        background-color: #9EEDFF;
        height: 2.5rem;
        border-radius: 1.25rem;
        padding-top: 0.25rem;
        position: absolute;
        left: 24.5rem;
    }
}

.modules {
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-top: 3rem;
    }

    &__subheading {
        color: #D1375C;
    }

    &__cards {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
    }

    &__card {
        display: flex;
        flex-direction: column;
        width: 20rem;
        margin-right: 2rem;
    }

    &__header {
        background-color: #393F49;
        color: #ffffff;
        border-radius: 0.5rem 0.5rem 0 0;
        padding: 1rem;
        display: flex;
        justify-content: center;
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        background-color: #9EEDFF;
        border-radius: 0 0 0.5rem 0.5rem;
        padding: 1rem;
    }

    &__text-3 {
        border-bottom: 1px solid black;;
    }
}

.videos {
    &__card {
        display: flex;
        flex-direction: column;
        margin-right: 1.25rem;
        border: 1px solid #C0C0C0;
        border-radius: 0.75rem;
    }

    &__image {
        width: 14.5rem;
        object-fit: contain;
    }

    &__footer {
        padding: 0.5rem;
    }

    &__text-3 {
        font-weight: bold;
    }
}