@use './variables' as*;

@mixin tablet {
    @media (min-width: $breakpoint-tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $breakpoint-desktop) {
        @content;
    }
}

@mixin regular {
    font-weight: 400;
}

@mixin bold {
    font-weight: 700;
}

@mixin rounded {
    border-radius: 0.25rem;
}

@mixin category {
    width: 10.875rem;
    height: 13.125rem;
    margin-right: 3.875rem;
    @include rounded;
    color: $color-10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    &:hover {
        box-shadow: 5px 5px 20px 10px $color-9;
        transition: 0.2s;
    }
}

@mixin header {
    font-family: 'NotoSans';
    font-size: 4.5rem;
}

@mixin sub-header {
    font-family: 'NotoSans';
    font-size: 1.875rem;
}

@mixin h3 {
    font-family: 'NotoSans';
    font-size: 1.5rem;
}

@mixin p3 {
    font-family: 'NotoSans';
    font-size: 1rem;
}