$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;

$color-1: #5185EC;
$color-2: #EA4335;
$color-3: #58A55C;
$color-4: #FBBC05;
$color-5: #606367;
$color-6: #141414;
$color-7: #606367;
$color-8: #E7E7E7;
$color-9: rgba(0, 0, 0, 0.1);
$color-10: #FFFFFF;

$margin: 6.25rem;